<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" value="<%= @user.email %>" />
    </li>
    <li>
      <label for="password">Password</label>
      <textarea id="password" type="text" name="user[password]"  value="<%= @user.password %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>