<form action="/signup" method="post">
  <ul>
    <li>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" />
    </li>
    <li>
      <label for="password">Password</label>
      <textarea id="password" type="text" name="password">
      </textarea>
    </li>
    <li>
      <label for="email">Email</label>
      <textarea id="email" type="text" name="email">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>