<form action="/shows_watched/<%= @shows.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="shows[title]" value="<%= @shows.title %>" />
    </li>
    <li>
      <label for="date">Date Finished</label>
      <textarea id="date" type="text" name="shows[date]"  value="<%= @shows.date %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>