<form action="/shows_watched" method="post">
  <ul>
    <li>
      <label for="title">Username</label>
      <input id="title" type="text" name="title" />
    </li>
    <li>
      <label for="date">Date Finsihed</label>
      <textarea id="date" type="text" name="date">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>