<% @shows = Show.find_by(params[:id]) %>


  <h1>Edit <%= @shows.title %></h1>

  <form action="/shows/<%= @shows.id %>" method="POST">
    <label> Shows Title </label>
    <input type="text" name="name" value="<%= @shows.title %>"/> 

    <label> Finish Date:</label>
    <input type="text" name="date" value="<%= @shows.date %>"/> 
    

    <input type="submit" value="Update"/>
  </form>