<%= @shows.title%>


<form action="/shows/<%=@shows.id%>" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="title" value="<%= @shows.title %>" />
    </li>
    <li>
      <label for="date">Date Finished</label>
      <textarea id="date" type="text" name="date"  value="<%= @shows.date %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" value="Update"/>
</form>