<h1>List of shows you've finished</h1>

    <table>
        <tr>
            <th>Show</th> 
            <th>Date</th> 
            <th>ID</th>
            <th>Edit</th>
        </tr>
        <% @shows = Show.all %>
        
        <% @shows.each do |tv|%>
        <tr>
            
            <td><%= tv.title%></td>
            <td><%= tv.date.to_s%></td>
            <td><%= tv.id %></td>
           
            <td> 
            <a href="/shows/<%= tv.id %>/edit"> Edit </a>
            </td>
               
            <% end %>
        </tr>

    </table>


