<h2>What show have you finished?</h2>
<form action="/shows" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="title" />
    </li>
    <li>
      <label for="date">Date Finsihed</label>
      <textarea id="date" type="date" name="date">
      </textarea>
    </li>
  </ul>
  <input type="submit"  value="Add"/>
</form>