<h2>What show have you finished?</h2>
<form action="/shows" method="post">
  <p>
    <label for="title">Show Title</label>
    <input id="title" type="text" name="title" />
  </p>
  <p>
    <label for="date">Date Finsihed</label>
    <input type="date" name="date" value= "date">
  </p>
  <input type="hidden" name="user_id" value = "<%= @user.id %>" >
  <input type="submit"  value="Add"/>
</form>