<h2>What show have you finished?</h2>
<form action="/shows" method="post">
  <p>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" />
  </p>
  <p>
    <label for="date">Date Finsihed</label>
    <input id="date" type="date" name="date">
  </p>
  
  <input type="submit"  value="Add"/>
</form>