<h1>List of shows you've finished</h1>
<% @shows.each do |show|%>
<table>
    <td>Show:<%= show.title%> <br></td>
    <td>Date:<%= show.date%> <br></td>
    <td>ID:<%= show.id %><br></td>
    <td><a href="/shows/:id/edit">Edit</a></td>
    <% end %>
    
</table>


