<h1>List of shows you've finished</h1>

    <table>
        <tr>
            <th>Show</th> 
            <th>Date</th> 
            <th>ID</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @shows.each do |show|%>
        <tr>
            
            <td><%= show.title.gsub(" ", "-")%></td>
            <td><%= show.date.to_s.gsub(" ", "-")%></td>
            <td><%= show.id %></td>
            <td><a href="/shows/:id/edit">Edit</a></td>
            <td><a href="/shows/:id/delete">Delete</a></td>
            <% end %>
        </tr>

    </table>


